*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto-medium;
  user-select: none;
}
@font-face {
  font-family: roboto-medium;
  src: url(../fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf);
}
::-webkit-scrollbar {
  display: none;
}
body{
    background-color: #101213;
}
.header_chill_zone {
  z-index: 1;
  margin-left: 40px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 17px;
}
.central {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.central p{
  font-size: 3.2em;
  letter-spacing: 8px;
  background: linear-gradient(90deg, #fff, rgb(179, 30, 134));
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin-bottom: 25px;
}
a:link, a:visited {
  background-color: #101213;
  color: rgb(204, 22, 189);
  text-decoration: none;
  display: inline-block;
}

.mainPage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.itemBox {
    width: 28%;
    height: 500px;
    border: 2px dashed white;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;
    overflow: hidden;
    /* align-items: center; */
    text-align: center;
}
.itemBox a {
    margin-top: 45px;
    padding: 15px;
    font-size: 20px;
    border: 1px solid white;
    transition: 0.5s;
}
.itemBox a:hover{
    background: rgba(255 255 255 / 10%);
}
.itemImage {
    height: 350px;
    overflow: hidden;
    transition: 1s ease-out;
    border-radius: 7px;
}
.itemImage:hover {
    transform: scale(1.1);
}

@media screen and (max-width:479px) {
  .itemImage{
    height: 30;
  }
  .itemBox{
    width: auto;
  }
  
}
@media screen and (min-width:480px) and (max-width:767px) {
  
  .itemImage{
    height: auto;
  }
  .itemBox{
    height: 400px;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  
  .itemImage{
    height: auto;
  }
  .itemBox{
    height: 400px;
  }
}
