* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: roboto;
    color: white;
    background: #000;
}
::placeholder {
    color: white;
}
::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;  
}
input {
    outline: none;
    background: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}
textarea {
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
}
.allContent {
    width: 100%;
    height: 100vh;
}
.headerMain {
    padding: 25px 25px 0px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerMain .logoMain,.headerMain .navigationMain {
    cursor: pointer;
}
.headerMain .navigationMain i {
    margin-right: 5px;
    transition: 1s;
}
.headerMain .navigationMain:hover i {
    transform: rotate(720deg);
}
.mainContent {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.contentTitle {
    font-size: 30px;
    padding-top: 43px;
    margin-bottom: 25px;
}
.regForm {
    width: 100%;
}
.formMain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.input {
    width: 40%;
    margin: 15px  5%;
    padding: 10px;

}
.input:focus {
    background: white;
    color: black;
}
.comments {
    color: white;
    background: #000;
    width: 90%;
    padding-bottom: 12vh;
    margin-bottom: 25px;
    resize: none;
}
.comments:focus {
    background: white;
    color: black;
}
.submit {
    display: inline;
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
}
.submit:hover {
    background: rgba(255 255 255 / 30%);
}
.fa-check-circle {
    background: transparent;
    color: chartreuse;
    font-size: 17px;
    margin-right: 10px;
}
.navMenu {
    display: flex;
    align-items: center;
}
.navMenu:hover {
    cursor: pointer;
}
.navMenu:hover i {
    transform: rotate(720deg);
    transition: 1.3s;
}
.navMenu i {
    color: white;
    margin-right: 5px;
    padding: 0 5px;
}
.navBar {
    width: 100%;
    padding: 15px 25px;
    padding-bottom: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    position: fixed;
}
.logo {
    text-align: center;
    width: 10%;
    padding: 15px;
    cursor: pointer;
}
.menuWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    text-align: center;
    transform-origin: right bottom;
}
.loadingNavMenu {
    display: block;
    animation: loadingPage 3s linear;
}
.closeNavMenu {
    display: block;
    animation: closingPage 2s linear;
}
.menuBG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 185px;
    color: crimson;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuList {
    width: 100%;
    padding-top: 70px;
    font-size: 31px;
    background: transparent;
}
.listItem {
    width: auto;
    margin: 0 auto;
    padding: 9px;
    margin: 7px;
    letter-spacing: 3px;
    cursor: pointer;
}
.listItem:hover {
    animation: menuListAnim 1s linear;
}
.menuFooter {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 25px;
    padding-bottom: 50px;
}
.contacts {
    display: flex;
    width: 82%;
    padding-left: 37%;
    font-size: 15px;
}
.contacts p {
    margin: 0 5px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bolder;
}
.contacts p:hover {
    color: crimson;
    animation: menuListAnim 0.3s linear;
}
.footerText {
    width: 18%;
    text-align: right;
    font-size: 17px;
}
.fa-heart {
    color: crimson;
    font-size: 17px;
    margin-right: 10px;
}

@keyframes menuListAnim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}@keyframes loadingPage {
    0% {
        transform: rotate(90deg) scale(2);
    }
    93%{
        transform: rotate(0deg);
    }
    98% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}@keyframes closingPage {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(90deg) scale(2);
    }
}.breath {
    animation: breathing 5s linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}@keyframes breathing {
    0% {
        color: rgba(220,20,60,1);
        transform: scale(1);
    }
    25% {
        color: rgba(220,20,60,0.45);
        transform: scale(0.96);
    }
    60% {
        color: rgba(220,20,60,0.45);
        transform: scale(0.96);
    }
    100% {
        color: rgba(220,20,60,1);
        transform: scale(1);
    }
}





